*{
    padding: 0;
    margin: 0;
}
section{
    background: linear-gradient(rgb(97, 96, 96), rgb(0, 0, 0));
    height: 120vh;
}
h3{
    color: rgb(15, 102, 15);
    font-family: "Poppins", sans-serif;
}
.border{
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    width: 26.3rem;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.events{
    padding: 10px;
    width: 20rem;
}
.events img{
    border-radius: 10px;
    width: 25rem;
    height: 10rem;
}
.head > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
}
.details{
    display: flex;
    justify-content: space-between;
}
.firstwo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.lastwo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
ul li{
    list-style: none;
    font-family: "Poppins", sans-serif;
}
.price button{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}
.price button:hover{
    height: 10rem;
}
.parent{
    background: white;
    height: 30rem;
    width: 45rem;
    border-radius: 15px;
}
.secondsec{
    padding-inline: 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.eventos{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.price h3{
    width: 100%;
}
.price{
    display: flex;
    justify-content: end;
    align-items: end;
}
.pricex button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    width: 25rem;
    border: none;
    height: 2.2rem; 
    color: white; 
    background: black; 
    font-weight: bold;
    border-radius: 10px;
}
#head{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-inline: 2rem;
    border-bottom: 2px solid white;
}

#head h1{
    font-family: "Poppins", sans-serif;
    margin-right: auto;
}
.dotimg img{
    height: 18rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#head button{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-right: auto;
    width: 7rem;
    font-family: "Poppins", sans-serif;
}
.uls li ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
}
.uls li h3{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.tit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.count{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}
.count > button{
    font-family: "Poppins", sans-serif;
    width: 1.4rem;
    height: 2rem;
    font-weight: bold;
}
.count span{
    padding-inline: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 0.3rem;
}
.btn-continue{
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-continue button{
    height: 2rem;
    width: 7rem;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}
.secondsec{
    background: linear-gradient(rgb(97, 96, 96), rgb(0, 0, 0));
    height: 100vh;
}
.thirdone{
    background: rgb(121, 121, 121);
    border-radius: 10px;
}
.thirdtwo{
    background: rgb(121, 121, 121);
    border-radius: 10px;
    height: 30rem;
    width: 45vw;
}
.allthird{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 3rem;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 40rem;
    padding-top: 10px;
}
.form label{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.fourthform input{
    margin-left: 5px;
}
.thirdform input{
    margin-left: 45.47px;
}
.secondform input{
    margin-left: 52.21px;
}
.firstform input{
    margin-left: 26.77px;
}
.form input{
    width: 30rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
}
#submit{
    width: 10rem;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    position: relative;
}
#p, #n, #e, #t{
    align-self: flex-start;
    padding-left: 5rem;
}
.formbtn{
    display: flex;
    flex-direction: column;
}
.tii{
    display: flex;
    justify-content: space-between;
}
.partc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}
#liste{
    background: white;
    width: 30rem;
    height: 20rem;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
}